.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    display: block;
  }
}
.modal__title {
  font-size: 25px;
  margin-bottom: 20px;
}
.modal,
.modal__ticket {
  width: 355px;
  display: block;
  position: fixed;
z-index: 5;
  background-color: #252530;
  top: 50%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 30px;
  padding: 30px;
  @media screen and (min-width: 480px) {
    width: 400px;
    height: 525px;
  }
  @media screen and (min-width: 1200px) {
    width: 430px;
    height: 550px;
  }
}
.modal__list {
  margin-bottom: 15px;
}
.modal__item {
  font-size: 10px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 480px) {
    font-size: 10px;
  }
}
.modal__radio {
  display: flex;
  align-items: normal;

  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #e5e5e5;
  width: 100%;
  text-align: left;

  @media screen and (min-width: 480px) {
    font-size: 15px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.modal__radio input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.25s;
  margin-right: 10px;
  margin-top: 3px;
}

.modal__radio input[type="radio"]:checked {
  border-color: #fff;
}

.modal__radio input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.modal__radio:hover input[type="radio"] {
  border-color: #ddd;
}

.modal__form {
  max-width: 450px;
  @media screen and (min-width: 480px) {
    width: 310px;
  }

  @media screen and (min-width: 1200px) {
    width: 315px;
  }
}
.modal__form label:nth-child(1) {
  margin-bottom: 15px;
}
.modal__button {
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 20px;
  margin-top: 25px;
}
.modal__button:nth-child(2) {
  background-color: black;
  color: $colorWhite;
  transition: background-color 200ms linear;
  transition: color 200ms linear;
  &:focus,
  &:hover {
    background-color: $colorWhite;
    color: black;
  }
}
.modal__input {
  width: 295px;
  @media screen and (min-width: 480px) {
    width: 315px;
  }
}
.button__box {
  text-align: start;
}
.modal__ticket {
  width: 370px;
  height: 450px;
  @media screen and (min-width: 768px) {
    height: 490px;
  }

  @media screen and (min-width: 1200px) {
    height: 525px;
  }
}
.ticket {
  text-align: center;
  margin-bottom: 10px;
}
.ticket__box {
  margin-bottom: 15px;
}
.ticket__box p:not(:last-child) {
  margin-bottom: 10px;
}
.ticket__elem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ticket__elem svg {
  fill: #d9d9d9;
}
