.hero .container {
  height: 200px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    height: 500px;
  }
}
.hero__title {
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.hero__text {
  &:nth-child(2) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }
  &:nth-child(3) {
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 12px;
    }
  }
}
.hero {
  background-image: url(.././images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top:  1px solid $colorBorder;
}
.accent {
  color: rgb(37, 151, 196);
  font-size: 10px;
  font-weight: 600;
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
}
.hero__button {
  cursor: pointer;
  padding: 8px;
  font-size: 8px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgb(238, 238, 40);
   transition: background-color 200ms linear;
  font-weight: 600;

  box-shadow: 1px 1px 20px 1px rgb(238, 238, 40);
   transition: box-shadow 50ms linear;
    @media screen and (min-width: 768px) {
      font-size: 10px;
     margin-top: 20px;
      padding: 10px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 12px;
      margin-top: 30px;
       padding: 15px;
    }
    &:hover,
    &:focus{
       background-color: $colorPink;
         box-shadow: 1px 1px 20px 1px $colorPink;
    }
}
